<div id="menu" class="bg-dark-gray p-0 m-0 pl-4 pt-4">

    <div class="white pl-3 py-2">
        <a [routerLink]="['/overdue']" routerLinkActive="electric-blue"> <i class="far fa-bell mr-1"></i>
            Overdue</a>
    </div>

    <div class="white pl-3 py-2">
        <a [routerLink]="['/today']" routerLinkActive="electric-blue"> <i class="fas fa-calendar-day mr-1"></i>
            Today</a>
    </div>

    <div class="white pl-3 py-2">
        <a [routerLink]="['/upcoming']" routerLinkActive="electric-blue"> <i class="far fa-calendar-alt mr-1"></i>
            Upcoming</a>
    </div>

</div>